@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Mulish", sans-serif !important;
}

body {
  background-color: #1E2126;
}

.gradient-background-azulfeo {
  background: linear-gradient(90deg, #3969FC 0%, #2A49FF 100%);
}

textarea:focus, input:focus, select:focus {
  background: transparent;
  outline: none; 
  border-color: #3969FC; 
  box-shadow: 0 0 0 2px rgba(57, 105, 252, 0.5); 
}


.animate-so-fast {
  --animate-duration: 0.3s;
}